body {
    background-color: rgb(231, 228, 228);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.nav-link {
    margin-right: 80px;
}

.slidder-img {
    height: 500px;
}

.categories-div {
    background-color: white;
}

.categories-div > div > h1 {
    color: black;
}

.pcp{
    margin: 0px !important;
}

.contact-us {
    min-height: 130px;
    background-color: rgb(36, 36, 36);
    width: 100%;
}

.signup-form {
    width: 970px;
}

.email {
    margin-right: 85px;
}

.copyright {
    font-size: 10px;
    min-height: 30px;
    width: 100%;
}

@media screen and (max-width: 767px){
    .left-div, .contact-us{
        margin-top: 200px !important;
    }
    .watch{
        margin-top: 250px !important;
    }
    
}